<!-- 
* Copyright 2018 Carlos Eduardo Alfaro Orellana
  https://www.youtube.com/c/CarlosAlfaro007
-->
{% extends 'base_admin.html' %}

{% block body %}	

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a href="#tabNewAdmin" class="mdl-tabs__tab is-active">Registrar</a>
				
			</div>
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Nuevo usuario
							</div>
							<div class="full-width panel-content">
								<form action="" method="post" novalidate>
									{{ form.hidden_tag() }}
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--12-col">
									        <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; DATOS DEL USUARIO</legend><br>
									    </div>																				
										<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												{{ form.userName.label(class="mdl-textfield__label") }}
												{{ form.userName(class="mdl-textfield__input")}}
												{% for error in form.userName.errors %}
													<span class="mdl-textfield__error">[{{ error }}]</span>
												{% endfor %}
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												{{ form.email.label(class="mdl-textfield__label") }}
												{{ form.email(class="mdl-textfield__input")}}
												{% for error in form.email.errors %}
													<span class="mdl-textfield__error">[{{ error }}]</span>
												{% endfor %}
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												{{ form.password.label(class="mdl-textfield__label") }}
												{{ form.password(class="mdl-textfield__input")}}
												{% for error in form.password.errors %}
													<span class="mdl-textfield__error">[{{ error }}]</span>
												{% endfor %}
											</div>
										</div>
									</div>
									<p class="text-center">
										<button id="btn-addAdmin" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary">
											{{ form.submit(class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary") }}
										</button>
										<div class="mdl-tooltip" for="btn-addAdmin">Adicionar Usuario</div>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</section>
{% endblock %}