<html>
    <head>

    </head>
    <body>
        <h1>Cambiar contraseña</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.newPassword.label }}<br>
                {{ form.newPassword(size=32) }}<br>
                {% for error in form.newPassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirmPassword.label }}<br>
                {{ form.confirmPassword(size=32) }}<br>
                {% for error in form.confirmPassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>