{% extends 'base_user.html' %}

{% block perfil %}
{{ current_user.username }}
{% endblock %}


{% block body %}



<div class="full-width panel-tittle bg-primary text-center tittles">
    Buscar Producto
</div> 
    <div class="mdl-tabs__panel" id="tabListProducts">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                <form action="" method="POST">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchProduct">
                            <i class="zmdi zmdi-search"></i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="searchProduct" name="searchProduct">
                            <label class="mdl-textfield__label"></label>
                        </div>
                    </div>
                </form>
                <div class="full-width text-center" style="padding: 30px 0;">
                    {% if searchProducts -%}
                        {% for product in searchProducts %}
                            <div class="mdl-card mdl-shadow--2dp full-width product-card">
                                <div class="mdl-card__title">
                                    <img src="static/{{ searchProducts[loop.index-1].image}}" alt="product" class="img-responsive">
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    Accesorio: {{ searchProducts[loop.index-1].name }} <br>
                                    Cantidad: {{ searchProducts[loop.index-1].quantity }}
                                </div>
                                <a href="{{url_for('update_user', accesory=product)}}" class="btn btn-success btn-block">Actualizar</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}