<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>recover password</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/material-design-iconic-font.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<!--
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	-->
	
	<script type=text/javascript src="{{url_for('static', filename='js/jquery-1.11.2.min.js')}}"></script>

	<script src="{{ url_for('static', filename='js/material.min.js')}}" ></script>
	<script src="{{ url_for('static', filename='js/sweetalert2.min.js')}}" ></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}" ></script>
	<script src="{{ url_for('static', filename='js/main.js')}}" ></script>
</head>
<body>
	<div class="login-wrap cover">
		<div class="container-login">
			
			<p class="text-center text-condensedLight">RECUPERAR CONTRASEÑA</p>
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
				
				
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					{{ form.email.label }}<br>
                    {{ form.email(class="mdl-textfield__input") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
				</div>
				
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; margin: 0 auto; display: block;">
					{{ form.submit }}
				</button>
                
			</form>
		</div>
	</div>
</body>
</html>