{% extends 'base_user.html' %}

{% block perfil_lateral %}
{{ current_user.username }}
{% endblock %}

{% block perfil %}
{{ current_user.username }}
{% endblock %}

{% block body %}

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__panel is-active" id="tabNewProduct">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Actualizar producto
                    </div>
                    <div class="full-width panel-content">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp;
                                        INFORMACIÓN BÁSICA</legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <!--{{ formUpdateInventary.idReference.label(class="mdl-textfield__label") }}
                                        {{ formUpdateInventary.idReference(class="mdl-textfield__input", value=searchProduct.id) }}
                                        {% for error in formUpdateInventary.idReference.errors %}
                                            <span class="mdl-textfield__error">[{{ error }}]</span>
                                        {% endfor %}-->

                                        <input class="mdl-textfield__input" type="text" value="{{ searchProduct.id }}"
                                            pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="idReference" disabled>
                                        <label class="mdl-textfield__label" for="idReference">Nombre</label>
                                        <span class="mdl-textfield__error">Invalido nombre</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" value="{{ searchProduct.name }}"
                                            pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameProduct" disabled>
                                        <label class="mdl-textfield__label" for="NameProduct">Nombre</label>
                                        <span class="mdl-textfield__error">Invalido nombre</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        {{ formUpdateInventary.quantity.label(class="mdl-textfield__label") }}
                                        {{ formUpdateInventary.quantity(class="mdl-textfield__input", value=searchProduct.quantity, 
                                            pattern='^[0-9]+$', title='Cantidad invalida') }}
                                        {% for error in formUpdateInventary.quantity.errors %}
                                            <span class="mdl-textfield__error">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9.]*(\.[0-9]+)?"
                                            id="PriceProduct" disabled>
                                        <label class="mdl-textfield__label" for="PriceProduct">Precio</label>
                                        <span class="mdl-textfield__error">Invalido precio</span>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                {{ formUpdateInventary.submit(class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary", 
                                    id="btn-addProduct") }}
                            <div class="mdl-tooltip" for="btn-addProduct">Actualizar producto</div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}